<div class="row pt-4">
  <div class="col-12">
    <h1 class="text-center f-poppins">Examples</h1>
    <div class="d-flex flex-column justify-content-center">
      <div class="d-md-flex justify-content-evenly">
        <div>
          <h1>Apple</h1>
          <img src="assets/images/apple.jpg" alt="Apple" class="img-fluid" />
        </div>
        <div>
          <h1>Bird</h1>
          <img src="assets/images/Bird.jpg" alt="Bird" class="img-fluid" />
        </div>
        <div>
          <h1>Cat</h1>
          <img src="assets/images/Cat.jpg" alt="Cat" class="img-fluid" />
        </div>
        <div>
          <h1>Clock</h1>
          <img src="assets/images/Clock.jpg" alt="Clock" class="img-fluid" />
        </div>
        <div>
          <h1>Computer</h1>
          <img
            src="assets/images/Computer.jpg"
            alt="Computer"
            class="img-fluid"
          />
        </div>
      </div>
      <div class="d-md-flex justify-content-evenly">
        <div>
          <h1>Eyeglasses</h1>
          <img
            src="assets/images/Eyeglasses.jpg"
            alt="Eyeglasses"
            class="img-fluid"
          />
        </div>
        <div>
          <h1>Fish</h1>
          <img src="assets/images/Fish.jpg" alt="Fish" class="img-fluid" />
        </div>
        <div>
          <h1>Ice cream</h1>
          <img
            src="assets/images/Ice cream.jpg"
            alt="Ice cream"
            class="img-fluid"
          />
        </div>
        <div>
          <h1>Moon</h1>
          <img src="assets/images/Moon.jpg" alt="Moon" class="img-fluid" />
        </div>
        <div>
          <h1>Tree</h1>
          <img src="assets/images/Tree.jpg" alt="Tree" class="img-fluid" />
        </div>
      </div>
    </div>
  </div>
</div>
